<!-- ./views/edit.handlebars -->
<div class="container py-5">
  <form action="/rests/{{ rest._id }}?_method=PUT" method="POST">
    <div class="row mb-3">
      <div class="col-6 mx-auto">
        <p>
          <span>名稱：</span>
          <input type="text" name="name" value="{{rest.name}}" class="col-9 mt-2" required>
        </p>
        <p>
          <span>評分：</span>
          <input type="text" name="rating" value="{{rest.rating}}" class="col-9 mt-2" required>
        </p>
        <p>
          <span>種類：</span>
          <input type="text" name="category" value="{{rest.category}}" class="col-9 mt-2" required>
        </p>
        <p>
          <span>電話：</span>
          <input type="text" name="phone" value="{{rest.phone}}" class="col-9 mt-2" required>
        </p>
        <p>
          <span>地址：</span>
          <input type="text" name="location" value="{{rest.location}}" class="col-9 mt-2" required>
        </p>
        <p>
          <span>簡述：</span>
          <textarea type="text" name="description" class="col-12 mt-2" rows="5" required>{{rest.description}}</textarea>
        </p>
        <p>
          <span>圖片：</span>
        </p>
        <div class="row justify-content-between mx-2">
          <div class="card col-5 px-0">
            <label>
              <div>
                <img class="card-img-top"
                  src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5631/05.jpg" class="card-img-top"
                  alt="...">
              </div>
              <div class="card-body text-center align-slef-end">
                <input type="radio" class="form-check-input mr-1" id="" name="img"
                  value="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5631/05.jpg" disabled>預設
              </div>
            </label>
          </div>
          <div class="card col-5 px-0">
            <label>
              <div>
                <img class="card-img-top" src="{{rest.image}}" class="card-img-top">
              </div>
              <div class="card-body text-center col align-self-end">
                <input type="radio" class="form-check-input mr-1" id="" name="img" value="{{rest.image}}" disabled>上傳
              </div>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-5">
      <button type="submit" class="btn btn-outline-dark mr-2"><i class="fas fa-pen"></i></button>
      <a href="/" class="btn btn-outline-dark"><i class="fas fa-times"></i></a>
    </div>
  </form>
</div>