<!-- ./views/index.handlebars -->
<div class="container mt-5">

  {{!-- 兩組條件一個表單，送到同一個路由處理 --}}
  <form action="/search">
    <div class="row">
      <!-- search bar -->
      <div class="col-8">
        <div class="input-group mb-5">
          <input type="text" name="keyword" value="{{keyword}}" class="form-control" placeholder="輸入餐廳..."
            aria-label="Restaurant Name..." aria-describedby="search-button">
          <div class="input-group-append mr-auto">
            <button class="btn btn-outline-secondary" type="submit" id="search-button">
              <i class="fas fa-search"></i>
            </button>
            <a href="./rests/new" class="btn btn-outline-dark"><i class="fas fa-plus"></i></a>
          </div>
        </div>
      </div>
      {{!-- sort option --}}
      <div class="col-4 mb-5">
        <select name="sort" class="form-control btn-outline-secondary" onchange="this.form.submit()">
          <option value="" selected disabled hidden>Sort</option>
          <option value="name" {{#if option.name }} selected {{/if}}>A -> Z</option>
          <option value="-name" {{#if option.-name }} selected {{/if}}>Z -> A</option>
          <option value="category" {{#if option.category }} selected {{/if}}>類別</option>
          <option value="location" {{#if option.location }} selected {{/if}}>地區</option>
        </select>
      </div>
    </div>
  </form>

  <!-- restaurant list -->
  <div class="row" id="data-panel">
    {{#each rests}}
    <div class="col-sm-4">
      <div class="card mb-2">
        <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
        <div class="card-body rest-item-body">
          <h6 class="card-title">{{this.name}}</h6>
          <p class="small">
            <i class="fas fa-utensils mr-1"></i>{{this.category}}
            <i class="fas fa-star mr-1"></i>{{this.rating}}
          </p>
          <div class="row justify-content-around mx-1">
            <span class="mr-2"><a href="./rests/{{ this._id }}/edit" class="btn btn-outline-dark"><i
                  class="fas fa-pen"></i></a></span>
            <span class="mr-auto"><a href="./rests/{{ this._id }}" class="btn btn-outline-dark"><i
                  class="fas fa-info px-1"></i></a></span>
            <form action="./rests/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
              <button type="submit" class="btn btn-secondary"><i class="fas fa-trash-alt"></i></button>
            </form>
          </div>
        </div>
      </div>

    </div>
    {{/each}}
  </div>
</div>