<!-- ./views/index.handlebars -->
<div class="container mt-5">

  <!-- search bar -->
  <div class="row" id="search-bar">
    <div class="col-12">
      <form action="/search">
        <div class="input-group mb-5">
          <input type="text" name="keyword" value="{{keyword}}" class="form-control" placeholder="輸入餐廳..."
            aria-label="Movie Name..." aria-describedby="search-button">
          <div class="input-group-append mr-auto">
            <button class="btn btn-outline-secondary" type="submit" id="search-button">
              <i class="fas fa-search"></i>
            </button>
            <a href="./rests/new" class="btn btn-outline-dark">Create</a>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- restaurant list -->
  <div class="row" id="data-panel">
    {{#each rests}}
    <div class="col-sm-4">

      <div class="card mb-2">
        <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
        <div class="card-body rest-item-body">
          <h6 class="card-title">{{this.name}}</h6>
          <p class="small">
            <i class="fas fa-utensils mr-1"></i>{{this.category}}
            <i class="fas fa-star mr-1"></i>{{this.rating}}
          </p>
          <span><a href="./rests/{{ this._id }}/edit" class="btn btn-outline-dark">edit</a></span>
          <span><a href="./rests/{{ this._id }}" class="btn btn-outline-dark">detail</a></span>
        </div>
      </div>

    </div>
    {{/each}}
  </div>
</div>